
html, body {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}










.second-window {
    visibility: hidden; 
    width: 200px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    left: 517px;
    top: 164px;
}
 
.second-window-text {
    font-family: Impact;
    font-size: 40px;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    top: -150px;
    right: 5px;
    left: 110px;
   line-height: 300px;
}
  
.close-1 {
font-family: Arial;
position: absolute;
top: 20px;
left: 165px;
font-size: 30px;
}


.third-window {
    visibility: hidden; 
    position: absolute;
    width: 328px;
    height: 260px;
    left: 927px;
    top: 200px;

background: #acacac;

}




.third-window-text {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 28px;
    height: 25%;
    font-family: Arial;

  

}


.close-2 {
    font-family: Arial;
    position: absolute;
    font-size:  20px;
    top: -8px;
    left: 305px;

}


.third-window-img {
 width: 95%;
 position: relative;
border-radius: 9px;
margin-left: 8px;
margin-top: 68px;


}


.fourth-window {
    visibility: hidden;
    position: absolute;
width: 393px;
height: 270px;
left: -350px;
right: 50px;
top: -100px;
background: rgb(255, 255, 255);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fourth-window-text {
   position: absolute;
    font-family: Impact;
    line-height: 200px;
    font-size: 20pt;
    margin-top: -90px;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
     margin-left: 10pt;
    
    
}

.close-3 {
    font-family: Arial;
    position: absolute;
    font-size:  20px;
    top: -2px;
    left: 367px;


}

.fouth-window-img {
    
width: 393px;
height: 272px;



     
}





.five-window {
    visibility: hidden;
    position: absolute;
width: 300px;
height: 270px;
    left: 200px;
    top: 300px;
    
    background: blanchedalmond;
}


.close-4 {
    font-family: Arial;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size:  20px;
    top: -5px;
    left: 287px;
    
}




.five-window-text {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 18px;
    font-family: Arial;
    font-size: 22px;
}



.five-window-img {

    position: absolute;
    width: 95%;
    border-radius: 9px;
    right: 8px; 
    bottom: 5px;

}


 
.six-window {
    visibility: hidden;
    position: absolute;
    position: absolute;
    width: 200px;
    height: 360px;
left: 450px;
top: 270px;
background: #E8E8E8;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.close-5{
    font-family: Arial;
    position: absolute;
    font-size:  20px;
    top: -3px;
    left: 185px;

}


.six-window-text {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial;
    font-size: 13px;
}

.six-window-img {
    position: absolute;
    width: 90%;
    margin-left: 10PX;
    margin-top: 4px;
    border-radius: 9px;

}


.seven-window {
    visibility: hidden;
    position: absolute;
    width: 470px;
height: 350px;
left: -600px;
top: 20px;

background: #2B2B2B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.seven-window-text {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 18px;
  font-family: Arial;
}

.close-6 {
    font-family: Arial;
    position: absolute;
    font-size:  20px;
    top: -3px;
    left: 455px;
}

.seven-window-img1 {
    position: absolute;
    width: 126px;
    height: 84px;
    
    margin-left: 20px;
    margin-top: 20px;
}
.seven-window-img2
{
    position: absolute;
    width: 126px;
    height: 84px;
    margin-left: 170px;
    margin-top: 20px;

}
.seven-window-img3
{
    position: absolute;
    width: 126px;
    height: 84px;
    margin-left: 320px;
    margin-top: 20px;
    
}
.seven-window-img4
{
    position: absolute;
    width: 126px;
    height: 84px;
    
    margin-left: 20px;
    margin-top: 130px;
}
.seven-window-img5
{
    position: absolute;
    width: 126px;
    height: 84px;
    margin-left: 170px;
    margin-top: 130px;

}
.seven-window-img6
{
    position: absolute;
    width: 126px;
    height: 84px;
    margin-left: 320px;
    margin-top: 130px;
    
}








.eight-window {
    visibility: hidden;
    position: absolute;
    width: 353px;
    height: 505px;
    left: -300px;
    top: -250px;
    bottom: 200px;
    
    background: #ffffff;
}







.eight-window-text {

    margin-top: 5px;
    font-size: 15px;
    font-family: Arial;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
}


.close-7 {
    position: absolute;
    left: 343px;
    top: -1px;
    margin-right: -10px;
}





 .vb{
     position: absolute;
     height:  455px;
     width: 5px;
     left: 176.5px;
     bottom: 0px;
   background-color: black;
 }
 .hb1 { 
    position: absolute;
    height: 5px;
    width: 353px;
    left: 0px;
    top: 200px;
  background-color: black;

 }
 .hb2 { 
    position: absolute;
    height: 5px;
    width: 353px;
    left: 0px;
    top: 355px;
  background-color: black;

 }
 .hb3 { 
    position: absolute;
    height: 5px;
    width: 353px;
    left: 0px;
    top: 50px;
  background-color: black;

 }

.text1{
    position: absolute;
    width: 160px;
    height: 135px;
    font-size: 10pt;
    font-family: Arial;
    text-overflow: clip;
    overflow-y: scroll;
    text-align: justify;
    top: 45pt;
    left: 180px;
    margin-left: 10px;
}

.text2{
    position: absolute;
    width: 160px;
    height: 135px;
    font-size: 10pt;
    font-family: Arial;
    text-overflow: clip;
    overflow-y: scroll;
    text-align: justify;
    top: 157pt;
    left: 180px;
    margin-left: 10px;
}
.text3{
    position: absolute;
    width: 160px;
    height: 135px;
    font-size: 10pt;
    font-family: Arial;
    text-overflow: clip;
    overflow-y: scroll;
    text-align: justify;
    top: 273pt;
    left: 180px;
    margin-left: 10px;
}






.eight-window-img {
    position: absolute;
    width: 45%;
    left: 10px;
    
    top: 57px;
}
.eight-window-img2 {
    position: absolute;
width: 50%;
left: 0px;
width: 50%;
left: 0;
top: 230px;
}
.eight-window-img3 {
    position: absolute;
    width: 50%;
    top: 370px;
    left: 0px;
    
}

.nine-window {
visibility: hidden;
position: absolute;
display: block;
width: 244px;
height: 271px;
background: beige;
left: 250px;
top: -15px;


}
.nine-window-text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    text-align: left;
}
.nine-window-img {
    position: absolute;
    width: 100%;

}
.close-8{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 233px;
    font-size: 20px;
    top: -4px;
   
}
.ten-window {
visibility: hidden;
position: absolute;
width: 319px;
height: 338px;
background:  wheat;
left: 450px;
top: -100px;
}

.ten-window-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 14px;
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;

   

   

}


.close-9 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: -5px;
    left: 305px;
}
p {
margin-bottom: -10px;
   
}
.ten-window-img {
    position: absolute;
    width: 100%;
    top: 130px;

}

  
     .eleven-window {
        visibility: hidden;
        position: absolute;
        width: 353px;
        height: 370px;
        margin-left: 700px;
        top: 40px;
        
        background: #ffffff;
    }
    
    
    

    
    
    .eleven-window-text {
    
        margin-top: 10px;
        font-size: 20px;
        font-family: Arial;
        margin-right: 5px;
        margin-left: 5px;
        text-align: center;
    }
    .close-10 {
        position: absolute;
        left: 340px;
        top: 0px;
        
    }

     .vb1  {
         position: absolute;
         height:  337px;
         width: 3px;
         left: 176.5px;
         bottom: px;
       background-color: black;
     }


     .hb21 { 
        position: absolute;
        height: 3px;
        width: 354px;
        left: 0px;
        top: 200px;
      background-color: black;
    
     }

     .hb31 { 
        position: absolute;
        height: 3px;
        width: 354px;
        left: 0px;
        top: 33px;
      background-color: black;
    
     }
    
    .text11{
        position: absolute;
        width: 160px;
        height: 150px;
        font-size: 10pt;
        font-family: Arial;
        text-overflow: clip;
        overflow-y: scroll;
        text-align: justify;
        top: 33pt;
        left: 180px;
        margin-left: 10px;
    }
    
    .text21{
        position: absolute;
        width: 160px;
        height: 150px;
        font-size: 10pt;
        font-family: Arial;
        text-overflow: clip;
        overflow-y: scroll;
        text-align: justify;
        top: 157pt;
        left: 180px;
        margin-left: 10px;
    }
    .text31{
        position: absolute;
        width: 160px;
        height: 135px;
        font-size: 10pt;
        font-family: Arial;
        text-overflow: clip;
        overflow-y: scroll;
        text-align: justify;
        top: 273pt;
        left: 180px;
        margin-left: 10px;
    }
    
    
    
    
    
    
    .eleven-window-img1 {
        position: absolute;
        width: 50%;
        left: 0px;
        
        top: 60px;
    }
    .eleven-window-img21 {
        position: absolute;
    width: 50%;
    left: 0px;
    width: 50%;
    bottom: 100px;
    
    top: 222px;
    }
    .eleven-window-img31 {
        position: absolute;
        width: 50%;
        top: 370px;
        top: 70px;
    }


.twelf-window {
    visibility: hidden;
    position: absolute;
    height: 348px;
    width: 102px;
    left: 300px;
    top: -10px;
    background: gainsboro;

}
 .twelf-window-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 10px;



 }

 .close-11 {
     position: absolute;
     left: 93px;
     top: -3px;
     font-family: 'Montserrat', sans-serif;
 }

 .twelf-window-img {
     width: 100%;
     position: absolute;
     top: 170px;

 }
 .twelf-window-img2 {
    width: 100%;
      top: 303px;
      position: absolute;

}



 .thirteen-window {
    visibility: hidden;
    position: absolute;
width: 300px;
height: 200px;
left: 380px;
top: -110px;

background: url(Screenshot_2.png);
    

 }
 .thirteen-window-text {
    position: absolute;
    color: fuchsia;
    font-family: 'Comic Sans MS', arial;
    font-size: 14px;
    text-align: center;
    margin-left: 7px;
    margin-top: 10px;
}
.thirteen-window-text2 {
    position: absolute;
    font-family: 'Comic Sans MS', arial;
     margin-left:80px ;
    margin-top: 45px;
    color: red;
    font-size: 14px;
}

.thirteen-window-text3 {
    position: absolute;
    font-family: 'Comic Sans MS', arial;
    margin-top: 75px;
    color: rgb(0, 247, 255);
    font-size: 14px;
}
.thirteen-window-text4 {
    position: absolute;
    font-family: 'Comic Sans MS', arial;
    margin-left: 120px;
    color: rgb(0, 255, 0);
    margin-top: 110px;
    font-size: 14px;
}
.thirteen-window-text5 {
    position: absolute;
    font-family: 'Comic Sans MS', arial;
    margin-top: 140px;
    margin-left: 90px;
    color: blue;
    font-size: 14px;
}
.thirteen-window-text6 {
    position: absolute;
    font-family: 'Comic Sans MS', arial;
    margin-top: 175px;
    margin-left: 5px;
    color:  yellow;
    font-size: 14px;
}

.close-12{
    font-family: 'Comic Sans MS', arial;
    position: absolute;
    font-size: 18px;
    color: black;
    margin-top: -8px;
    margin-left: 287px;
}





 .fourteen-window {
    visibility: hidden;
    position: absolute;
width: 290px;
height: 187px;
background: url(Screenshot_1.png);
background-size: 100%;
top: 180px;
right: 100px;

 }

 .close-13{
    position: absolute;
    font-size: 14px;
    color: black;
    margin-top: -3px;
    margin-left: 280px;
    font-family: Arial;
}



 .fourteen-window-text {
    position: absolute;
    width: 99px;
    height: 86px;
    margin-top: 10px;
    font-family: Arial;
    font-size: 10px;
    margin-left: 5px;
   
 }
 .fourteen-window-text2 {
    font-family: Arial;
    position: absolute;
    margin-left: 108px;
    margin-top: 10px;
width: 177px;
height: 38px;
font-size: 10px;

text-align: right;

}
.fourteen-window-text3 {
    font-family: Arial;
    position: absolute;
    width: 104px;
    height: 38px;
    margin-top: 140px;
    margin-left: 180px;
    
    font-size: 10px;
    
    text-align: right;
}
 


.fivteen-window {
    visibility: hidden;

    position: absolute;
    width: 157px;
    height: 157px;
    top: 180px;
    left: 200px;
    
    background: #F7F7F7;
}

.fivteen-window-text {
    position: absolute;
    margin-top: 100px;
    font-family: Impact;
    font-size: 12px;

}
.close-14 {
    position: absolute;
    top: -100px;
}

.fivteen-window-img {
    position: absolute;
    width: 50%;
    left: 35px;
}

.sixteen-window {
    visibility: hidden;
    
    position: absolute;
    width: 272px;
    height: 239px;
    top: 300px;
    left: -240px;
    
    background: #16202A;
}

.sixteen-window-text {
    position: absolute;
    color: white;
    top: 10px;
    font-family:  'Montserrat', sans-serif;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;


}
.close-15 {
    position: absolute;
    color: white;
    top: -10px;
    left: 250px;
    font-family:  'Montserrat', sans-serif;
    font-size: 13px;
}

.sixteen-window-img {
    position: absolute;
    width: 45%;
    left: 0px;
    top: 105px;
}
.sixteen-window-img2 {
    position: absolute;
    width: 88px;
    left: 170px;
    top: 112px;
}


.seventeen-window {
   visibility: hidden;
    position: absolute;
width: 160px;
height: 220px;
left: 60px;
top: 290px;
background: white;

}

.seventeen-window-text {
position: absolute;
    font-family:  'Montserrat', sans-serif;
  font-size: 11px;
 

}
.close-16{
    position: absolute;
    color: black;
    left: 149px;
    top: 1px;

}


.seventeen-window-img {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    
}








.eighteen-window {
    visibility: hidden;
    position: absolute;
width: 199px;
height: 199px;
top: 330px;
left: 180px;
background: url(Causewashing-is-the-new-greenwashing.png);
background-size: cover;
  

}

.eighteen-window-text {
    position: absolute;
    font-family: Impact;
    
     margin-top: 126px;
     margin-left: 5px;
     font-size: 14px;
     
    
}

.close-17{
    position: absolute;
    top: -126px;
    left: 185px;
}
.eighteen-window-img {
    position: absolute;
    visibility: hidden;
}

.nineteen-window {
    visibility: hidden;
    position: absolute;
width: 198px;
height: 60px;
top: 430px;
left: 300px;
background: #C4C4C4;
}

.nineteen-window-text {
    position: absolute;
    font-size: 11px;
    font-family: Arial;
margin-left: 3px;
margin-right: 3px;
}

.close-18 {
    position: absolute;
    left: 187px;
    font-family: Arial;
    top: 1px;
}
.nineteen-window-img {
    position: absolute;
    width: 103%;
    top:60px;
    right: -3px;
}


.twenty-window {
    visibility: hidden;
    position: absolute;
width: 204px;
height: 286px;
top: 240px;
left: 440px;

background: #E2E2E2;
}

.twenty-window-text {
    position: absolute;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    font-family: Arial;
}

.close-19 {
    position: absolute;
    top: -10px;
    font-size: 12px;
    left: 190px;
    font-family: Arial;
}
.twenty-window-img {
    
    position: absolute;
    width: 90%;
    border-radius: 14px;
    top: 90px;
    left: 10px;
}

.twentyone-window {
    visibility: hidden;
    position: absolute;
width: 1581px;
height: 767px;
right: -402px;
top: -180px;
background: rgba(0, 0, 0, 0.4);

}

.twentyone-window-text {
    position: absolute;
    text-align: center;
    align-items: center;
    font-size: 70px;
    font-family: Roboto;
    color: bisque;
    top: 130px;
    margin-left: 400px;
    border: solid;
    width: 900px;
    height: 400px;
    margin-top: 20px;
   
    

}


.close-20 {
    
    position: absolute;
    top: -90px;
    left: 820px;
    
}

ul {
    list-style-type: none;
}

.twentyone-window-img {
    position: absolute;
    width: 50%;
    
}







 .container
 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background: url(intro-bg.jpg);
 
 }




.about {
    position: absolute;
    width: 238px;
    height: 68px;
    left: 870px;
    top: 400px;
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
     padding-top: 15px;
     color: bisque;
    border: 2px solid  rgb(204, 145, 73);
    box-sizing: border-box;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    
}


     

    
    .back-text {
        position: absolute;
     align-items: center;
     width: 1100px;
     height: 128px;
     left: 250px;
     top: 224px;
     color: bisque;
     line-height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    }
.about {
    position: absolute;
    width: 238px;
    height: 68px;
    left: 680px;
    top: 400px;
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
     padding-top: 15px;
     color: bisque;
    border: 2px solid  rgb(204, 145, 73);
    box-sizing: border-box;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    
}







   @media only screen and (max-width:375px) 
             {
                 .container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background: url(mob-b.jpg);

                 }


       .back-text {
           font-size: 10%;
        align-content: center;
        line-height: 70px;
        color: bisque;
    
          width: 375px;
         height: 95px;
           left: -1px;
          top: 100px;

       }
       .about {
        position: absolute;
        width: 161px;
        height: 43px;
        left: 100px;
        top: 430px;
        padding-top: 4px;
        color: bisque;
        border: 1px solid bisque;
        box-sizing: border-box;
       }
       .second-window {
        visibility: hidden; 
        width: 200px;
        height: 400px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 40px;
        top: 164px;
    
    }
    
    .second-window-text {
        font-family: Impact;
        font-size: 40px;
        position: absolute;
        bottom: 10px;
        text-align: center;
        top: -150px;
        right: 5px;
        left: 90px;
    }
      
    .close-1 {
    font-family: Arial;
    position: absolute;
    top: 20px;
    left: 185px;
    }

    .third-window {
        visibility: hidden; 
        position: absolute;
        width: 328px;
        height: 260x;
        left: 10px;
        top: 200px;
        text-overflow: clip;
    background: #949494;
    
    }
    .third-window-text {
        position: absolute;
        margin-top: 10px;
        margin-left: 13px;
        margin-right: 10px;
        font-size: 25px;
        height: 25%;
        overflow-y: scroll;
    
    }
    .third-window-img {
        position: absolute;
        top: 65px;
    }
    
    
    .close-2 {
        font-family: Arial;
        position: absolute;
        font-size:  20px;
        top: -5px;
        left: 290px;
    
    }
    
    
    .third-window-img {
     width: 95%;
     position: relative;
    border-radius: 9px;
    left: 1px;
    top: 0px;
    
    }
    .fourth-window {
       
        position: absolute;
  
    left: -10px;
    right: 70px;
    top: 150px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    

.fourth-window-img {
    position: absolute;
    width: 50%;


}
    
    .close-3 {
        font-family: Arial;
        position: absolute;
        display: flex;
        font-size:  20px;
        left: 350px;
        
     
   }
   .five-window {
       position: absolute;
       top: 180px;
       left: 10px;
    
}










.close-4 {
    font-family: Arial;
    position: absolute;
    font-size:  20px;
    top: -5px;
    left: 287px;

}


.five-window-img {
    position: absolute;

}
    .six-window {
        position: absolute;
        left: 20px;
        top: 50px;
    
}

.close-5{
    font-family: Arial;
    position: absolute;
    font-size:  17px;
    top: -3px;
    left: 190px;

}


.six-win dow-text {
    margin-top: 20px;
}
.six-win dow-img{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 280px;
}

.seven-window {
    visibility: hidden;
    position: absolute;
 left: 20px;
 top: 5px;
 height: 400px;
 width: 282px;

}

.seven-window-text {
    font-size: 14px;
    width: 270px;
    margin-left: 5px;
    margin-top: 6px;
}

.close-6 {
    font-family: Arial;
    position: absolute;
    left: 270px;
    font-size: 20px;
    width: 100px
}

.seven-window-img1 {
    position: absolute;
    width: 126px;
    height: 84px;
    
    margin-left: 10px;
    margin-top: 10px;
}
.seven-window-img2
{
    position: absolute;
    width: 126px;
    height: 84px;
    margin-left: 145px;
    margin-top: 10px;

}
.seven-window-img3
{
   
    position: absolute;
    width: 126px;
    height: 84px;
    margin-left: 10px;
    margin-top: 210px;
    
}
.seven-window-img4
{
    position: absolute;
    width: 126px;
    height: 84px;
    
    margin-left: 10px;
    margin-top: 110px;
}
.seven-window-img5
{
    position: absolute;
    width: 126px;
    height: 84px;
    
    margin-left: 145px;
    margin-top: 110px;

}
.seven-window-img6
{
    position: absolute;
    width: 126px;
    height: 84px;
    margin-left: 145px;
    margin-top: 210px;
    
}

.eight-window {
    visibility: hidden;
    position: absolute;
    width: 353px;
    height: 505px;
    left: -30px;
    top: -140px;
    
    background: #ffffff;
}
 

.nine-window { 
    left: 20px;
    top: -160px;

}

.ten-window {
    position: absolute;
    left: 20px;
    top: 100px;

}


.eleven-window {
    
    visibility: hidden; 
        position: absolute;
       
        left: -700px;
        top: 10px;
    box-shadow: 5px  black;

}

.twelf-window {
    left: 260px;
}
.thirteen-window {
    left: 20px;
    top: -70px;
}

.fourteen-window {
    left: 20px;
    top: -180px;
}

.fivteen-window {
    left: 180px;
    top: -30px;
}

.sixteen-window {
    left: 10px;
    top: 20px
}
   
.seventeen-window {

    top: 120px;
    left: 10px;
}

.eighteen-window {
    top: 170px;
    left: 150px;
    
}

.nineteen-window {
    top: 270px;
    left: 1px;

}
.twenty-window {
   left: 160px; 
   
}



.twentyone-window {
    top: -300px;
}
.twentyone-window-text {
 width: 340px;
 font-size: 30px;
 left: 430px;
 height: 200px;
 top: 250px
}
.close-20 {
    left: 280px;
    top:-5px;
}


}



























@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@import url('http://allfont.ru/allfont.css?fonts=comic-sans-ms');